<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head> 
        <title>GameSphere</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7e36146f79.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script th:src="@{/js/solid.js}"></script>
        <script th:src="@{/js/fontawesome.js}"></script>
  
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link th:href="@{/css/Noticias.css}" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>
        <header th:fragment="header">
                <nav class="nav-container">
                    <!-- Links -->
                    <div class="nav-links">
                        <ul>
                            <li><img th:src="@{/images/logo_nav.png}" alt="logo"/></li>
                            <li><a  th:href="@{/producto/videojuegos}">Tienda</a></li>
                            <li><a th:href="@{/noticias/noticias}">Noticia</a></li>
                            <li><a href="#">Favoritos</a></li>
                        </ul>
                    </div>
                    <!-- Icons -->
                    <div class="nav-icons ">
                        <span class="fa-layers fa-fw fa-5x">
                            <i class="fa-solid fa-cart-shopping "></i>
                            <span id="cart-number" class="fa-layers-counter fa-2x" style="background:Tomato">0</span>
                        </span>

                    </div>
                </nav>
            </header>
        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="agregarNoticias">
            <div id="agregarNoticias" >
                <div >
                    <div >
                        <h5 >Agregar </h5>
                        <button type="button" class="btn-close"  aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/noticias/guardar}" th:object="${noticias}"
                          method="POST" class="was-validated" enctype="multipart/form-data">
                        <div >
                            <div class="mb-3">
                                <label for="titulo_noticia">Titulo de la noticia</label>
                                <input type="text" class="form-control" name="titulo_noticia" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="fecha_publicacion">Fecha de publicacion</label>
                                <input type="text" class="form-control" name="fecha_publicacion" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="descripcion_noticia">Descripcion de la noticia</label>
                                <input type="text" class="form-control" name="descripcion_noticia" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="imagen_noticia">Imagen</label>
                                <input class="form-control" type="file" name="imagen_noticia" onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200"/>
                            </div>
                        </div>
                        <div >
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
          
    </body>
</html>
