<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script src="https://kit.fontawesome.com/7e36146f79.js" crossorigin="anonymous"></script>
                <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <script th:src="@{/js/solid.js}"></script>
                        <script th:src="@{/js/fontawesome.js}"></script>
                        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
                            <link rel="stylesheet" th:href="@{/css/Payment.css}"/>
                            </head>
                            <body>
                                <header>
                                    <nav class="nav-container">
                                        <!-- Links -->
                                        <div class="nav-links">
                                            <ul>
                                                <li><img th:src="@{/images/logo_nav.png}" alt="logo"/></li>

                                                <li><a href="#">Tienda</a></li>
                                                <li><a href="#">Noticia</a></li>
                                                <li><a href="#">Favoritos</a></li>
                                            </ul>
                                        </div>

                                        <!-- Icons -->
                                        <div class="nav-icons ">
                                            <span class="fa-layers fa-fw fa-5x">
                                                <i class="fa-solid fa-cart-shopping "></i>
                                                <span id="cart-number" class="fa-layers-counter fa-2x" style="background:Tomato">0</span>
                                            </span>


                                        </div>
                                    </nav>
                                </header>
                                <main>
                                    <div class="filtro-container">
                                        <button class="filtro-button" data-filtro="Accion">Acción</button>
                                        <button class="filtro-button" data-filtro="Aventura">Aventura</button>
                                        <button class="filtro-button" data-filtro="Deportes">Deportes</button>
                                        <button class="filtro-button" data-filtro="todos">Todos</button>
                                    </div>
                                    <section id="videojuegos-list" class="games-container">
                                        <div  th:each="videojuego : ${videojuegos}" th:attr="data-genero=${videojuego.genero}" class="game-card" >

                                            <img id="blah" th:src="@{${videojuego.imagen_juego}}" alt="game" />


                                            <p class="game-Name">[[${videojuego.nombre_juego}]]</p>
                                            <p class="game-price">$[[${videojuego.precio}]]</p>
                                            <div class="btn-container">

                                                <button class="btn btn-AddCart" type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i>

                                                </button>
                                                <a th:href="@{/producto/videojuegoInfo/}+${videojuego.id_juego}"><button class="btn btn-Informacion" type="submit"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    </button></a>
                                                <a th:href="@{/producto/videojuegoEditar/}+${videojuego.id_juego}"><button class="btn btn-Edit" type="submit"><i class="fa fa-pencil-square" aria-hidden="true"></i>

                                                    </button></a>
                                                <a th:href="@{/producto/eliminar/}+${videojuego.id_juego}"><button class="btn btn-Delete" type="submit"><i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button></a>
                                            </div>

                                        </div>


                                        </div>
                                        <a class="agregar-container" th:href="@{/producto/videojuegoAgregar}">
                                            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
                                            <p class="txt-agregar">Agregar</p>
                                        </a>

                                    </section>

                                    <section class="payment-container">


                                        <div class="ItemsBuy">
                                            <div class="items-container">
                                                <div class="item">
                                                    <p>Mario Bros</p>
                                                    <p>$<span class="class">35</span></p>
                                                    <input class="btn-remove" type="submit" value="Eliminar" name="Eliminar" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">

                                            <div class="card-container">

                                                <div class="front">
                                                    <div class="image">
                                                        <img th:src="@{/images/chip.png}" alt="">
                                                            <img th:src="@{/images/visa.png}" alt="">
                                                                </div>
                                                                <div class="card-number-box">################</div>
                                                                <div class="flexbox">
                                                                    <div class="box">
                                                                        <span>card holder</span>
                                                                        <div class="card-holder-name">full name</div>
                                                                    </div>
                                                                    <div class="box">
                                                                        <span>expires</span>
                                                                        <div class="expiration">
                                                                            <span class="exp-month">mm</span>
                                                                            <span class="exp-year">yy</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                </div>

                                                                <div class="back">
                                                                    <div class="stripe"></div>
                                                                    <div class="box">
                                                                        <span>cvv</span>
                                                                        <div class="cvv-box"></div>
                                                                        <img th:src="@{/image/visa.png}" alt="">
                                                                    </div>
                                                                </div>

                                                                </div>

                                                                <form action="">
                                                                    <div class="inputBox">
                                                                        <span>card number</span>
                                                                        <input type="text" maxlength="16" class="card-number-input">
                                                                    </div>
                                                                    <div class="inputBox">
                                                                        <span>card holder</span>
                                                                        <input type="text" class="card-holder-input">
                                                                    </div>
                                                                    <div class="flexbox">
                                                                        <div class="inputBox">
                                                                            <span>expiration mm</span>
                                                                            <select name="" id="" class="month-input">
                                                                                <option value="month" selected disabled>month</option>
                                                                                <option value="01">01</option>
                                                                                <option value="02">02</option>
                                                                                <option value="03">03</option>
                                                                                <option value="04">04</option>
                                                                                <option value="05">05</option>
                                                                                <option value="06">06</option>
                                                                                <option value="07">07</option>
                                                                                <option value="08">08</option>
                                                                                <option value="09">09</option>
                                                                                <option value="10">10</option>
                                                                                <option value="11">11</option>
                                                                                <option value="12">12</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="inputBox">
                                                                            <span>expiration yy</span>
                                                                            <select name="" id="" class="year-input">
                                                                                <option value="year" selected disabled>year</option>
                                                                                <option value="2021">2021</option>
                                                                                <option value="2022">2022</option>
                                                                                <option value="2023">2023</option>
                                                                                <option value="2024">2024</option>
                                                                                <option value="2025">2025</option>
                                                                                <option value="2026">2026</option>
                                                                                <option value="2027">2027</option>
                                                                                <option value="2028">2028</option>
                                                                                <option value="2029">2029</option>
                                                                                <option value="2030">2030</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="inputBox">
                                                                            <span>cvv</span>
                                                                            <input type="text" maxlength="4" class="cvv-input">
                                                                        </div>
                                                                    </div>
                                                                    <input type="submit" value="submit" class="submit-btn">
                                                                </form>

                                                                </div>  
                                                                </section>
                                                                </main>

                                                                <script>
                                                                    const filtroButtons = document.querySelectorAll('.filtro-button');
                                                                    const videojuegosList = document.getElementById('videojuegos-list');

                                                                    filtroButtons.forEach(button => {
                                                                        button.addEventListener('click', () => {
                                                                            filtroButtons.forEach(btn => btn.classList.remove('active'));
                                                                            button.classList.add('active');
                                                                            const filtro = button.getAttribute('data-filtro');
                                                                            videojuegosList.querySelectorAll('.game-card').forEach(videojuego => {
                                                                                const genero = videojuego.getAttribute('data-genero');
                                                                                if (filtro === genero || filtro === 'todos') {
                                                                                    videojuego.style.display = 'flex';
                                                                                } else {
                                                                                    videojuego.style.display = 'none';
                                                                                }
                                                                            });
                                                                        });
                                                                    });
                                                                </script>
                                                                <script th:src="@{/js/Payment.js}">

                                                                </script>
                                                                </body>
                                                                </html>
