
:root{
    --color-primary: #13213C;
    --colorTipography: #ffffff;
    --color-secondary: #FCA311;
}

*{

    margin:0;
    padding:0;
    box-sizing: inherit;
    outline: none;
    border: none;
    text-decoration: none;
}
html,body{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    box-sizing: border-box;
}

.games-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3%;

}

.games-container .game-card{
    height: 40vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-size: 1.6rem;
    /*background-color: rgba(229, 229, 229, 0.1);*/
    /*    background-color: #ffffff;*/
    box-shadow: rgba(206, 214, 224,1.0) 0px 7px 29px 0px;

    flex-basis: 15%;

    margin: 2%;
}
.games-container .agregar-container{
    height: 40vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    box-shadow: rgba(206, 214, 224,1.0) 0px 7px 29px 0px;
    color: #6F6F6F;
    margin: 2%;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
}

.games-container .agregar-container:hover{
    color: var(--color-secondary);
}

.games-container .txt-agregar{
    font-size: 1.6rem;
}

.games-container .game-card img{
    object-fit: cover;
    object-position: center;
    height: 70%;
    width: 100%;
}
.btn-container{
    margin-bottom: 3px;
}


.btn{
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    box-shadow: rgba(206, 214, 224,1.0) 0px 7px 29px 0px;

}

.btn:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.btn-AddCart{
    background-color: #10ac84;
    border: #10ac84;
}

.btn-Edit{
    background-color: var(--color-secondary);
    border: var(--color-secondary);
}

.btn-Delete{
    background-color: #eb4d4b;
    border: #eb4d4b;
}
.filtro-button{
    background-color: var(--color-secondary);
    padding: 10px 20px;
    border-radius: 4px;
    border: var(--color-secondary);
    outline: none;
    cursor: pointer;
    color: #ffffff;
    margin-right: 2%;

}

.filtro-button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.filtro-button.active {
    background-color: #3498db;
    color: white;
}
.filtro-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-top: 2%;
}

.games-container .game-card .btn-Informacion{
    background-color: #0abde3;
    border: #0abde3;
}

.view-more{
    width: 100%;
    font-size: 1.6rem;
    padding-left: 50px;

}

.view-more a:link, a:visited{
    color: var(--colorTipography);
    text-decoration: none;
}

@media screen and (max-width: 1670px){

    .games-container .game-card{
        font-size: 1.5rem;
    }
    .games-container .game-card input{
        padding: 6px 20px;
    }
    .ItemsBuy .items-container .btn-remove{
        padding: 8px 14px;
    }


}
@media screen and (max-width: 1500px){

    .games-container .game-card{
        font-size: 1.4rem;
    }
    .ItemsBuy .items-container .btn-remove{
        padding: 8px 14px;
    }

    .games-container .game-card{
        height: 55vh;
        flex-basis: 18%;
    }


}
@media screen and (max-width: 1280px){


    .games-container .game-card{
        height: 50vh;
        flex-basis: 18%;
    }
    .btn{
        padding: 8px 16px;

    }


}
.nav-container{
    height: 7vh;
    width: 100%;
    display: flex;
    background-color: var(--color-primary);
}
.nav-links{
    width: 30%;
    height: 100%;
    font-size: 1.6rem;

}
.nav-links ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.nav-links ul li img{
    background-size: cover;
    height: 70px;
    width: 70px;
}

.nav-links ul li a:link, a:visited{
    color: var(--colorTipography);
    text-decoration: none;
}

.nav-icons{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
    color: #ffffff;
}

.payment-container{
    display: flex;
    height: 93vh;
    width: 100%;
    justify-content: space-around;
    background-color: #EEEEEE;
}

.ItemsBuy{
    height: 93vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;

}

.ItemsBuy .ItemsBuy--title{
    font-size: 2rem;
}

.ItemsBuy .items-container{
    background-color: #ffffff;
    height: 80%;
    width: 60%;
    overflow: scroll;
}
.ItemsBuy .items-container .item{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #E5E5E5;
}

.ItemsBuy .items-container .btn-remove{
    padding: 10px 20px;
    background-color: red;
    color: var(--colorTipography);
    font-size: 1.6rem;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;


}
.container{
    min-height: 93vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
    font-size: 1.6rem;

}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background: linear-gradient(138deg, rgba(19,33,60,1) 0%, rgba(4,23,59,1) 42%, rgba(252,163,17,1) 88%);
    margin-top: 20px;
    padding: 10px;
    font-size: 2rem;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(138deg, rgba(19,33,60,1) 0%, rgba(4,23,59,1) 42%, rgba(252,163,17,1) 88%);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img{
    height: 50px;
}

.container .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 2.2rem;
    color:#fff;
}

.container .card-container .front .flexbox{
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .front .flexbox .box{
    font-size: 1.5rem;
    color:#fff;
}

.container .card-container .back{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(138deg, rgba(19,33,60,1) 0%, rgba(4,23,59,1) 42%, rgba(252,163,17,1) 88%);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box{
    padding: 0 20px;
}

.container .card-container .back .box span{
    color:#fff;
    font-size: 1.5rem;
}

.container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}