

:root{
    --color-primary: #13213C;
    --colorTipography: #ffffff;
    --color-secondary: #FCA311;
}

*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

/*Header section*/

html,body{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    box-sizing: border-box;
}

.nav-container.sticky{
    position: fixed;
    background-color: rgba(19, 33, 60, 0.8);
    z-index: 3;
}

.nav-container{
    height: 7vh;
    width: 100%;
    display: flex;

}
.nav-links{
    width: 30%;
    height: 100%;
    font-size: 1.6rem;

}
.nav-links ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.nav-links ul li img{
    background-size: cover;
    height: 70px;
    width: 70px;
}

.nav-links ul li a:link, a:visited{
    color: var(--colorTipography);
    text-decoration: none;
}

.nav-icons{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
    color: #ffffff;
}

@media screen and (max-width: 1670px){
    .phrase-container .phare-style{
        font-size: 6rem;
        line-height: 100px;
    }
    .games-container .game-card{
        font-size: 1.5rem;
    }
    .games-container .game-card input{
        padding: 6px 20px;
    }
    .news-container .news-specific-container .news-specific-data-container h3{
        font-size: 1.8rem;
    }
    .news-container{
        font-size: 1.4rem;
    }

}
@media screen and (max-width: 1280px){
    .phrase-container .phare-style{
        font-size: 5.3rem;
        line-height: 80px;
    }
    .games-container .game-card{
        font-size: 1.4rem;
    }
    .news-container .news-specific-container .news-specific-data-container h3{
        font-size: 1.6rem;
    }
    .news-container{
        font-size: 1.2rem;
    }

}